/* CSS Document */
@font-face {
  font-family: 'BYekan';
  src: url('../fonts/IRANSansWeb.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	   url('../fonts/IRANSansWeb.woff2') format('woff2'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/  
       url('../fonts/IRANSansWeb.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BYekanl';
  src: url('../fonts/IRANSansWeb_Light.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	   url('../fonts/IRANSansWeb_Light.woff2') format('woff2'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/  
       url('../fonts/IRANSansWeb_Light.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face{font-family:Material Design Iconic Font;src:url(../fonts/Material-Design-Iconic-Font.woff?v=2.0.0) format('woff'),url(../fonts/Material-Design-Iconic-Font.ttf?v=2.0.0) format('truetype')}

* {
}
body, input, select, textarea, button, .ui-btn, h1, h2, h3, h4, h5, h6 {
   font-family: 'BYekan', cursive, sans-serif !important;
    font-weight: 400;
}
 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
    background-attachment: fixed;
    background-color: #e4e4e4;
  font-family: 'BYekan';
      font-size: 13px !important;
      font-family: 'BYekan', cursive, sans-serif !important;
  
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

.nd2Tabs li {
    right: 0;
    float: right;
}
.nd2Tabs {
    margin: 0px 0px 0px 0px;
}

.nd2-title {
    font-size: 17px;
    line-height: 1.2em;
    font-weight: 500;
    display: block;
    margin: 10px 10px 3px 0px;
    padding: 5px 7px;
    border-bottom: 1px solid #dcdcdc;
    text-align: right;
}
.more{text-align:left !important;
float:left;}


    /* Progress Bar */
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #9FCDFF;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden; }
  .progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #129FBC;
    transition: width .3s linear; }
  .progress .indeterminate {
    background-color: #129FBC; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
/*---------------------- Progress Bar---------------------------------- */	
.listdl li{padding:5px 12px;}	
.listst{text-align:right; font-size:15px; padding-bottom:15px;}
#limore ul{    list-style: none !important;
    padding: 0 7px !important;}	
#limore	.nd2-card {
    margin: 7px auto;
}
.nd2-search-button{left:5px;}
.ui-content ul li{text-align:right !important;
direction:rtl !important;}
.ui-content ul{padding:10px 15px !important;}
.ui-helper-hidden-accessible{display:none;}
.ui-panel.ui-panel-display-overlay.ui-panel-open {
    z-index: 20000 ;
}
#leftpanel{z-index:999999999 !important;}
a{z-index:444444;}
.about p{text-align:justify;
direction:rtl;
padding:7px 10px;
border-right:3px solid #2AA0D9}
.about h3{ color:#1798B3; text-align:right; padding:0 20px;}
.owl-carousel .owl-stage {
	height:100% !important;
}
.ow1 .owl-stage {
	padding-left:0px !important;
	padding-right:0px !important;
	
}
.pad10{padding:10px;}
.owl-carousel {
  position: relative;
  height: 100%;
}
.owl-carousel div:not(.owl-controls) {
    height: 100%;
  
  }

.owl-slide {
 
  
}
.ui-content {
    padding: 0;
	min-height:100% !important;
}

.flarg{font-size:17px !important; padding:5px 5px}
.fmedium{font-size:13px !important; padding:5px}
.iconfl{position: absolute;
    bottom: 45%;
    z-index: 100;
    width: 100%;
    left: -40%;
	  -webkit-transform:  rotate(90deg);
  -moz-transform:    rotate(90deg);
  transform:         rotate(90deg);
}
.iconvas{margin:0 auto; display:block; width:203px; position:relative;}
.iconfl a:hover{color:#F5E8E8; background-color:#FC6769}
.iconfl a{font-size:32px; margin-left:9px;   padding:5px 19px 0; color:#FFFFFF; opacity:0.5; background-color:#FF6467; border-radius:50%;}
.centers{ margin:0 auto !important; display:block; color:#0E0D0D !important; width:80px; height:80px;}
.black{color:#000000 !important;}
.center{text-align:center !important;}
#fullslide .ui-content img{
	width:100% !important;
}
#fullslide .ui-content .owl-carousel .owl-slide{
  -webkit-transform:  rotate(90deg);
  -moz-transform:    rotate(90deg);
  transform:         rotate(90deg);

}
 .none{display:none;}
.ui-controlgroup-controls .ui-btn, .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-controls .ui-radio, .ui-controlgroup-controls .ui-select {
    margin: 0 !important ;
}
.marb20{
	margin-bottom:20px !important;}
.gerd {border-radius:50%;}
.wrap,#owee.owl-carousel{
height:620px;
overflow:hidden;
}
#owee .owl-carousel .owl-item {
    min-height: 1px;
    float: none !important;
	direction:rtl !important;
}
.trys{padding:10px; margin-left:100px; z-index:1000; position:absolute; top:100px;
right:100px}
input{text-align:right !important; direction:rtl}
.right{text-align:right;}
.ui-input-text:after, .ui-input-search:after {
    content: "";
    position: absolute;
    width: 83%;
    height: 1px;
}
.ui-input-text, .ui-input-search, textarea.ui-input-text.ui-textinput-autogrow {
    margin: 0px 0px 30px 0px;
}
.ui-table-columntoggle-btn{display:none}
.btnco .ui-btn{background-color:#DBDBDB; margin:10px 0 20px; }
.ui-selectmenu .ui-selectmenu-list li .ui-btn {
   text-align:right;
   background:#E7E7E7;
}
.ui-selectmenu .ui-selectmenu-list li.ui-last-child .ui-btn {
   color:#7B7B7B;
   background:#fff;
}
.ui-page-theme-a .ui-btn.ui-btn-fab {
    padding: 1.2px 3px;
}
.nd2-headline { margin:20px -20px 10px}
h4{text-align:right}
.nd2Tabs .nd2Tabs-active:after {
    height: 3px;
    background-color: #ffffff;
}
blockquote {
 
    margin: 10px 0;
}
img:before { 
  content: " ";
  display: block;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

img:after { 
  content: "\f10a" " فایل متنی " attr(alt);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);
  
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
 .dirr{direction:rtl;}